.hero{
    display: flex;
    align-items: center;
    flex-direction: column; 
    gap: 10px;
    width:100%;
    max-width:100vw;
    overflow-x: hidden;
    /* border: 2px solid white; */
}
.hero img{
    margin-top: 40px;
    border-radius:50%
    width:400px;
}
.hero h1{
    text-align: center;
    width: 70%;
    font-size: 70px;
    font-weight: 500;
}
.hero h1 span{
    background: linear-gradient(267deg, #DA7C25 0.36%,#B923E1 102%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
}
.hero p{
    width:50%;
    text-align: center;
    font-size: 24px;
    line-height: 40px;
}
.hero-action{
    display: flex;
    align-items: center;
    gap:25px;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 50px;
}
.hero-connect{
    padding: 25px 45px;
    border-radius: 50px;
    background: linear-gradient(267deg, #DA7C25 0.36%,#B923E1 102%);
    cursor: pointer
}
.hero-connect:hover{
    border: 2px solid white;
}
.hero-resume{
    padding: 25px 75px;
    border-radius: 50px;
    border:2px solid white;
    cursor: pointer;
}
.hero-resume:hover{
    border-color: #B415ff;
}

@media(max-width: 768px){
    .hero img{
        margin-top: 20px;
        width:50%;
    }
    .hero h1{
        font-size:8vw;
        width:90%;
    }
    .hero p{
        width: 80%;
        font-size:4vw;
        line-height: 30px;
    }
    .hero-action{
    gap:10px;
    font-size:2.5vw;
    font-weight:400px;
    }
    .hero-connect{
        padding:15px 20px;
    }
    .hero-resume{
        padding:15px 20px;
    }
}
