.navbar{
    height:5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap:20px;
    font-size: 20px;
}
.nav-connect{
    padding: 10px 20px;
    border-radius: 50px;
    background: linear-gradient(267deg, #DA7C25 0.36%,#B923E1 102%);
    font-size: 22px;
    cursor: pointer;
    transition: 0.5s;
}
.nav-connect:hover{
    transform: scale(1.05);
}

.nav-mob-close,.nav-mob-open{
    display: none;
}

@media (max-width: 768px){
    .navbar{
        justify-content: space-between;
        margin:20px 50px;
    }
    .nav-connect{
        display: none;
    }
    .nav-mob-open{
    display: block;
    position: fixed;
    right: 30px;
    }
    .nav-mob-close{
        display:block;
        position: relative;
        top: 30px;
        left:80px;
        width: 30px;
    }
    .nav-menu{
        position: fixed;
        flex-direction: column;
        align-items: center;
        top:0px;
        background-color: #1f0016;
        width:250px;
        height:100vh;
        z-index:1000;
        right: -350px;;
        transition: right 0.5s ;
    }

    .nav-menu li{
        position: relative;
        top:0;
        font-size: 30px;
    }
}